@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #000;
  color: #fff;
}

.header:after {
  content: "";
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 2;
  background-image: linear-gradient(
      to bottom right,
      transparent calc(50% - 1px),
      #222 calc(50% + 1px),
      transparent 50%
    ),
    linear-gradient(
      to top right,
      transparent calc(50% - 1px),
      #222 calc(50% + 1px),
      transparent 50%
    );
}

.pointer-events-none * {
  pointer-events: none !important;
}
